<app-menu></app-menu>

<div class="container" id="userprofile">
    <div class="container" id="userdetails">
        <div class="row">
            <div class="col-sm-3 col-xs-3 col-md-3">
                <img src="../../assets/images/facebook.png" alt="">
            </div>
            <div class="col-sm-6 col-md-6 col-xs-6">
                <div class="row">
                    <h4 style="font-size: 24px;">Abhishek M Rao <span style="font-size: 16px;"><li class="fa fa-pencil" style="float: right;"></li></span></h4>
                </div>
                <div class="row" style="font-size: 16px;">
                    <div class="col-sm-6 col-md-6 col-xs-12">
                        <li class="fa fa-map-marker">&nbsp;&nbsp;Bengaluru</li> <br>
                        <li class="fa fa-phone">&nbsp;&nbsp;12345 67890</li><br>
                        <li class="fa fa-envelope">&nbsp;&nbsp;username@email.com</li>
                    </div>
                    <div class="col-sm-6 col-md-6 col-xs-12">
                        <li class="fa fa-calendar">&nbsp;&nbsp;Available for work in 3 months</li> <br>
                        <li class="fa fa-suitcase">&nbsp;&nbsp;Employed</li><br>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 col-md-3 col-xs-3">
                <div class="row">
                    <div class="progress white">
                        <span class="progress-left">
                            <span class="progress-bar"></span>
                        </span>
                        <span class="progress-right">
                            <span class="progress-bar"></span>
                        </span>
                        <div class="progress-value">90%</div>
                    </div>
                </div>
                <div class="row">
                    <ul style="display: block; float:left;margin-left: 25px;">
                        <a href="#" style="text-decoration: none; color: white;">Pending Actions</a> &nbsp;&nbsp;
                        <a href="#" style="text-decoration: none; color: white;">View All</a>
                    </ul>
                </div>
            </div>
        </div>
    </div>
     
    <div class="container" style="width: 80%; float:left;" id="left">
        <!-- Resume starts -->
        <div class="container" id="profile-section">
            <div class="row">
                <h4><strong>Resume</strong>&nbsp;&nbsp;&nbsp;<span class="profile-section-symbols"><li class="fa fa-plus"></li>&nbsp;&nbsp;&nbsp;&nbsp;<li class="fa fa-pencil"></li></span></h4>
            </div>
            <div class="row">
                <p>
                    Resume is the most important document recruiters look for. Recruiters generally don’t look at the profiles without resumes.
                </p>
            </div>
            <div class="row">
                <button type="submit" class="resume-button"><a href="#"><h4>UPLOAD RESUME</h4></a></button>
                <p style="text-align: center;">
                    Supported Formats: doc, docs, rtf, pdf, 2 MB
                </p>
            </div>
        </div>
        <!-- Resume ends -->

        <!-- Resume Headline starts -->
        <div class="container" id="profile-section">
            <div class="row">
                <h4><strong>Resume Headline</strong><span class="profile-section-symbols"><li class="fa fa-pencil"></li></span></h4>
            </div>
            <div class="row">
                <p>
                    Looking for an oppurtunity to join as automation testing engineer
                </p>
            </div>
        </div>
        <!-- Resume Headline ends -->

        <!-- Key Skills starts -->
        <div class="container" id="profile-section">
            <div class="row">
                <h4><strong>Key Skills</strong><span class="profile-section-symbols"><li class="fa fa-pencil"></li></span></h4>
            </div>
            <div class="row" style="align-items: center;">
                <div class="skills-pill">
                    <p>UX Design</p>
                </div>
                <div class="skills-pill">
                    <p>UI Design</p>
                </div>
                <div class="skills-pill">
                    <p>UX Design</p>
                </div>
                <div class="skills-pill">
                    <p>UI Design</p>
                </div>
                <div class="skills-pill">
                    <p>UX Design</p>
                </div>
                <div class="skills-pill">
                    <p>UI Design</p>
                </div>
                <div class="skills-pill">
                    <p>UX Design</p>
                </div>
                <div class="skills-pill">
                    <p>UI Design</p>
                </div>
            </div>
        </div>
        <!-- Key Skills ends -->

        <!-- Experience starts -->

        <div class="container" id="profile-section">
            <div class="row">
                <h4><strong>Experience</strong><span class="profile-section-symbols"><li class="fa fa-plus">&nbsp;&nbsp;&nbsp;</li><li class="fa fa-pencil"></li></span></h4>
            </div>
            <div class="row" id="experience-section">
                <div class="col-sm-2 col-md-2 col-xs-2" id="profile-experience">
                    <img src="../../assets/images/facebook.png" alt="">
                </div>
                <div class="col-sm-10 col-md-10 col-xs-10">
                    <p><strong>Job Role</strong></p>
                    <p>Employer Name</p> 
                    <p>MM/YY - MM/YY</p> 
                    <p>Location</p>
                </div>
            </div>
            <div class="row" id="experience-section">
                <div class="col-sm-2 col-md-2 col-xs-2" id="profile-experience">
                    <img src="../../assets/images/facebook.png" alt="">
                </div>
                <div class="col-sm-10 col-md-10 col-xs-10">
                    <p><strong>Job Role</strong></p>
                    <p>Employer Name</p> 
                    <p>MM/YY - MM/YY</p> 
                    <p>Location</p>
                </div>
            </div>
        </div>

        <!-- Experience starts -->

        <!-- Education starts -->

        <div class="container" id="profile-section">
            <div class="row">
                <h4><strong>Education</strong><span class="profile-section-symbols"><li class="fa fa-plus">&nbsp;&nbsp;&nbsp;</li><li class="fa fa-pencil"></li></span></h4>
            </div>
            <div class="row" id="education-section">
                <div class="col-sm-2 col-md-2 col-xs-2" id="profile-experience">
                    <img src="../../assets/images/facebook.png" alt="">
                </div>
                <div class="col-sm-6 col-md-6 col-xs-6">
                    <p><strong>College / Institution name</strong></p>
                    <p>Course Name</p>
                    <p>University Number</p> 
                    <p>MM/YY - MM/YY</p> 
                    <p>Marks Scored - Location</p>
                </div>
                <div class="col-sm-4 col-md-4 col-xs-4">
                    <button type="submit">
                        <a href="#" style="text-decoration: none; color:#404040;"><li class="fa fa-upload"></li>&nbsp;&nbsp;Upload Certificate</a>
                    </button>
                </div>
            </div>
            <div class="row" id="education-section">
                <div class="col-sm-2 col-md-2 col-xs-2" id="profile-experience">
                    <img src="../../assets/images/facebook.png" alt="">
                </div>
                <div class="col-sm-6 col-md-6 col-xs-6">
                    <p><strong>College / Institution name</strong></p>
                    <p>Course Name</p>
                    <p>University Number</p> 
                    <p>MM/YY - MM/YY</p> 
                    <p>Marks Scored - Location</p>
                </div>
                <div class="col-sm-4 col-md-4 col-xs-4">
                    <button type="submit">
                        <a href="#" style="text-decoration: none; color:#404040;"><li class="fa fa-upload"></li>&nbsp;&nbsp;Upload Certificate</a>
                    </button>
                </div>
            </div>
            <div class="row" id="education-section">
                <div class="col-sm-2 col-md-2 col-xs-2" id="profile-experience">
                    <img src="../../assets/images/facebook.png" alt="">
                </div>
                <div class="col-sm-6 col-md-6 col-xs-6">
                    <p><strong>College / Institution name</strong></p>
                    <p>Course Name</p>
                    <p>University Number</p> 
                    <p>MM/YY - MM/YY</p> 
                    <p>Marks Scored - Location</p>
                </div>
                <div class="col-sm-4 col-md-4 col-xs-4">
                    <button type="submit">
                        <a href="#" style="text-decoration: none; color:#404040;"><li class="fa fa-upload"></li>&nbsp;&nbsp;Upload Certificate</a>
                    </button>
                </div>
            </div>
        </div>

        <!-- Education ends -->

        <!-- Skills & Tools starts -->
        <div class="container" id="profile-section">
            <div class="row">
                <h4><strong>Skills & Tools</strong><span class="profile-section-symbols"><li class="fa fa-plus">&nbsp;&nbsp;&nbsp;</li><li class="fa fa-pencil"></li></span></h4>
            </div>
            <div class="row" id="skills-table">
                <table>
                    <tr class="table-head">
                        <th>Skill/Tool</th>
                        <th>Version</th>
                        <th>Last Used</th>
                        <th>Experience</th>
                    </tr>
                    <tr>
                        <td>Microsoft Office</td>
                        <td>2019</td>
                        <td>2022</td>
                        <td>3 years</td>
                    </tr>
                    <tr>
                        <td>Photoshop</td>
                        <td>2014</td>
                        <td>2022</td>
                        <td>7 years</td>
                    </tr>
                </table>
            </div>
        </div>
        <!-- Skills & Tools ends -->

        <!-- Certification starts -->
        <div class="container" id="profile-section">
            <div class="row">
                <h4><strong>Certification</strong><span class="profile-section-symbols"><li class="fa fa-plus">&nbsp;&nbsp;&nbsp;</li><li class="fa fa-pencil"></li></span></h4>
            </div>
            <div class="row" id="education-section">
                <div class="col-sm-2 col-md-2 col-xs-2" id="profile-experience">
                    <img src="../../assets/images/facebook.png" alt="">
                </div>
                <div class="col-sm-6 col-md-6 col-xs-6">
                    <p><strong>Course Name</strong></p>
                    <p>Institution Name</p>
                    <p>MM/YY - MM/YY</p> 
                    <p>Location</p>
                </div>
                <div class="col-sm-4 col-md-4 col-xs-4">
                    <button type="submit">
                        <a href="#" style="text-decoration: none; color:#404040;"><li class="fa fa-upload"></li>&nbsp;&nbsp;Upload Certificate</a>
                    </button>
                </div>
            </div>
        </div>
        <!-- Certification ends -->

        <!-- Project & Presentation starts -->

        <div class="container" id="profile-section">
            <div class="row">
                <h4><strong>Project & Presentation</strong><span class="profile-section-symbols"><li class="fa fa-plus">&nbsp;&nbsp;&nbsp;</li><li class="fa fa-pencil"></li></span></h4>
            </div>
            <div class="row" id="projects-section">
                <div class="col-sm-9 col-md-9 col-xs-9">
                    <h4>Generation of electric power with speed breaker</h4>
                    <h5>Institution Name</h5>
                    <p>MM/YY - MM/YY</p>
                </div>
                <div class="col-sm-3 col-md-3 col-xs-3">
                    <button type="submit">
                        <a href="#" style="text-decoration: none; color:#404040;"><li class="fa fa-upload"></li>&nbsp;&nbsp;Upload Certificate</a>
                    </button>
                </div>
            </div>
            <div class="row">
                <p>
                    During the final academic year of bachelors, we had performed a project - Generation of Electrical power using speed breaker.During the final academic year of bachelors, we had performed a project - Generation of Electrical power using speed breaker.During the final academic year of bachelors, we had performed a project - Generation of Electrical power using speed breaker.
                </p>
            </div>
        </div>

        <!-- Project & Presentation ends -->

        <!-- Profile Summary Starts -->

        <div class="container" id="profile-section">
            <div class="row">
                <h4><strong>Profile Summary</strong><span class="profile-section-symbols"><li class="fa fa-pencil"></li></span></h4>
            </div>
            <div class="row">
                <p>
                    During the final academic year of bachelors, we had performed a project - Generation of Electrical power using speed breaker.During the final academic year of bachelors, we had performed a project - Generation of Electrical power using speed breaker.During the final academic year of bachelors, we had performed a project - Generation of Electrical power using speed breaker.
                </p>
            </div>
        </div>

        <!-- Profile Summary ends -->

        <!-- Accomplishment starts -->

        <div class="container" id="profile-section">
            <div class="row">
                <h4><strong>Accomplishments</strong><span class="profile-section-symbols"><li class="fa fa-plus">&nbsp;&nbsp;&nbsp;</li><li class="fa fa-pencil"></li></span></h4>
            </div>
            <div class="row">
                <div class="row" id="accomplishment-rows">
                    <h5><strong>Online Profile</strong></h5>
                    <p>Link to Online Profiles (e.g. LinkedIn, Facebook etc)</p>
                </div>
                <div class="row" id="accomplishment-rows">
                    <h5><strong>White Paper/ Research Publication/ Journal Entry</strong></h5>
                    <p>Add Links to your Online Publications</p>
                </div>
                <div class="row" id="accomplishment-rows">
                    <h5><strong>Patent</strong></h5>
                    <p>Add details of Patents you have filed</p>
                </div>
            </div>
        </div>

        <!-- Accomplishment ends -->

        <!-- Career Profile starts -->

        <div class="container" id="profile-section">
            <div class="row">
                <h4><strong>Career Profile</strong><span class="profile-section-symbols"><li class="fa fa-plus">&nbsp;&nbsp;&nbsp;</li><li class="fa fa-pencil"></li></span></h4>
            </div>
            <div class="row" style="margin-top: 15px;">
                <div class="col-sm-6 col-md-6 col-xs-6">
                    <div class="row">
                        <h5>Current Industry</h5>
                        <p><strong>Automation Testing</strong></p>
                    </div>
                    <div class="row">
                        <h5>Role Category</h5>
                        <p><strong>Testing</strong></p>
                    </div>
                    <div class="row">
                        <h5>Desired Job Type</h5>
                        <p><strong>Permanent</strong></p>
                    </div>
                    <div class="row">
                        <h5>Preferred Shift</h5>
                        <p><strong>Day</strong></p>
                    </div>
                    <div class="row">
                        <h5>Expected Salary</h5>
                        <p><strong>Rs. 6,00,000</strong></p>
                    </div>
                </div>
                <div class="col-sm-6 col-md-6 col-xs-6">
                    <div class="row">
                        <h5>Department</h5>
                        <p><strong>Testing</strong></p>
                    </div>
                    <div class="row">
                        <h5>Job Role</h5>
                        <p><strong>Testing</strong></p>
                    </div>
                    <div class="row">
                        <h5>Desired Employment Type</h5>
                        <p><strong>Permanent</strong></p>
                    </div>
                    <div class="row">
                        <h5>Preferred Location</h5>
                        <p><strong>Bengaluru</strong></p>
                    </div>
                </div>
            </div>
        </div>

        <!-- Career Profile ends -->

        <!-- Personal Details starts -->

        <div class="container" id="profile-section">
            <div class="row">
                <h4><strong>Personal Details</strong><span class="profile-section-symbols"><li class="fa fa-plus">&nbsp;&nbsp;&nbsp;</li><li class="fa fa-pencil"></li></span></h4>
            </div>
            <div class="row" style="margin-top: 20px;">
                <div class="col-sm-6 col-md-6 col-xs-6">
                    <div class="row">
                        <h5>Personal</h5>
                        <p><strong>Male, Single</strong></p>
                    </div>
                    <div class="row">
                        <h5>Date of Birth</h5>
                        <p><strong>15 Dec 1990</strong></p>
                    </div>
                    <div class="row">
                        <h5>Category</h5>
                        <p><strong>General</strong></p>
                    </div>
                    <div class="row">
                        <h5>Differently abled</h5>
                        <p><strong>No</strong></p>
                    </div>
                </div>
                <div class="col-sm-6 col-md-6 col-xs-6">
                    <div class="row">
                        <h5>Career Break</h5>
                        <p><strong>No</strong></p>
                    </div>
                    <div class="row">
                        <h5>Work Permit</h5>
                        <p><strong>India</strong></p>
                    </div>
                    <div class="row">
                        <h5>Address</h5>
                        <p><strong>Banashankari stage 2,<br> Banashankari, Bengaluru 560010</strong></p>
                    </div>
                </div>
            </div>
            <div class="row" id="languages-section">
                <table>
                    <tr  class="table-head">
                        <th>Languages</th>
                        <th>Profieciency</th>
                        <th>Read</th>
                        <th>Write</th>
                        <th>Speak</th>
                    </tr>
                    <tr>
                        <td>English</td>
                        <td>Proficient</td>
                        <td><li class="fa fa-check"></li></td>
                        <td><li class="fa fa-check"></li></td>
                        <td><li class="fa fa-check"></li></td>
                    </tr>
                    <tr>
                        <td>Kannada</td>
                        <td>Expert</td>
                        <td><li class="fa fa-check"></li></td>
                        <td><li class="fa fa-check"></li></td>
                        <td><li class="fa fa-check"></li></td>
                    </tr>
                </table>
            </div>
        </div>

        <!-- Personal Details ends -->
    </div>
    <div class="container" style="width: 20%; float:right;" id="right">
        <h3 style="font-size: 30px;">Quick Clicks</h3>
        <ul>
            <li><a href="#">Resume</a></li>
            <li><a href="#">Resume Headline</a></li>
            <li><a href="#">Key Skills</a></li>
            <li><a href="#">Employment</a></li>
            <li><a href="#">Education</a></li>
            <li><a href="#">IT Skills & Tools</a></li>
            <li><a href="#">Certifications</a></li>
            <li><a href="#">Projects & Presentations</a></li>
            <li><a href="#">Profile Summary</a></li>
            <li><a href="#">Resume Headline</a></li>
            <li><a href="#">Resume Headline</a></li>
            <li><a href="#">Resume Headline</a></li>
        </ul>
    </div>

</div>

<app-footer></app-footer>