<app-menu></app-menu>

<!--<div class="container">
    <div class="row" id="question-header">
        <mat-form-field appearance="fill">
            <mat-label>Leave a comment</mat-label>
            <textarea matInput placeholder="Add Question here"></textarea>
        </mat-form-field>
    </div>
    <div class="row" id="question-options">
        <div class="col-sm-6 col-md-6 col-xs-12">
            <div class="col-sm-5 col-md-5 col-xs-5" id="options-col">
                <p>+A</p>
                <input type="text" name="optionA"> 
            </div>
            <div class="col-sm-5 col-md-5 col-xs-5" id="options-col">
                <p>+B</p>
                <input type="text" name="optionB">
            </div>
            <div class="col-sm-5 col-md-5 col-xs-5" id="options-col">
                <p>+C</p>
                <input type="text" name="optionC">
            </div>
            <div class="col-sm-5 col-md-5 col-xs-5" id="options-col">
                <p>+D</p>
                <input type="text" name="optionD">
            </div>
        </div>
        <div class="col-sm-6 col-md-6 col-xs-12">
            <div class="row" id="question-formula">
                <p>
                    Add Hint 1 | 
                    <span class="hint-id">
                        S1
                    </span>
                </p>
            </div>
            <div class="row" id="question-formula">
                <p>
                    Add Hint 2 | 
                    <span class="hint-id">
                        S2
                    </span>
                </p>
            </div>
            <div class="row" id="question-formula">
                <p>
                    Add Hint 3 | 
                    <span class="hint-id">
                        S3
                    </span>
                </p>
            </div>
            <div class="row" id="question-formula">
                <p>
                    Add Hint 4 | 
                    <span class="hint-id">
                        S4
                    </span>
                </p>
            </div>
        </div>
    </div>
    <div class="row" style="width: 100%;">
        <div class="col-sm-6 col-md-6 col-xs-12" id="question-hint">
            <p>
                Hint:
            </p>
        </div>
        <div class="col-sm-6 col-md-6 col-xs-12" id="question-submit">
            <button type="submit"><span>Cool</span></button>
        </div>
    </div>
</div>-->

<div class="container">
    <form>
        <div class="row" id="question-header">
            <mat-form-field appearance="fill">
                <mat-label>Add Question</mat-label>
                <textarea matInput class="questiontext" placeholder="Add Question here"></textarea>
            </mat-form-field>
        </div>
    </form>
</div>

<app-footer></app-footer>