<app-menu></app-menu>

<div class="container">
    <div class="row" id="question-header">
        <p style="text-align: justify;">Q1. Add Question 1</p>
    </div>
    <div class="row" id="question-options">
        <div class="col-sm-6 col-md-6 col-xs-12">
            <div class="col-sm-5 col-md-5 col-xs-5" id="options-col">
                <p>+</p>
            </div>
            <div class="col-sm-5 col-md-5 col-xs-5" id="options-col">
                <p>+</p>
            </div>
            <div class="col-sm-5 col-md-5 col-xs-5" id="options-col">
                <p>+</p>
            </div>
            <div class="col-sm-5 col-md-5 col-xs-5" id="options-col">
                <p>+</p>
            </div>
        </div>
        <div class="col-sm-6 col-md-6 col-xs-12">
            <div class="row" id="question-formula">
                <p>
                    Add Hint 1 | 
                    <span class="hint-id">
                        S1
                    </span>
                </p>
            </div>
            <div class="row" id="question-formula">
                <p>
                    Add Hint 2 | 
                    <span class="hint-id">
                        S2
                    </span>
                </p>
            </div>
            <div class="row" id="question-formula">
                <p>
                    Add Hint 3 | 
                    <span class="hint-id">
                        S3
                    </span>
                </p>
            </div>
            <div class="row" id="question-formula">
                <p>
                    Add Hint 4 | 
                    <span class="hint-id">
                        S4
                    </span>
                </p>
            </div>
        </div>
    </div>
    <div class="row" style="width: 100%;">
        <div class="col-sm-6 col-md-6 col-xs-12" id="question-hint">
            <p>
                Hint:
            </p>
        </div>
        <div class="col-sm-6 col-md-6 col-xs-12" id="question-submit">
            <button type="submit"><span>Cool</span></button>
        </div>
    </div>
</div>

<app-footer></app-footer>